body{
    background-color: #f5f5f5;
    font-family: Arial,  sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.box{
    width: 300px;
    background:white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
h3{
    margin: 10px 0  5px;
}

p{
    color: gray;
    front: size 14px;
}